<p>especializacion-form works!</p>
<div class="container py-3">
  <h4 *ngIf="!modoEditar">Nueva Especialización</h4>
  <h4 *ngIf="modoEditar">Editar Especialización</h4>

  <form [formGroup]="form" (ngSubmit)="guardar()">
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input formControlName="nombre" class="form-control" />
      <div *ngIf="form.get('nombre')?.touched && form.get('nombre')?.invalid" class="text-danger">
        Nombre es requerido (máx 120).
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Código</label>
      <input formControlName="codigoEspecializacion" class="form-control" />
      <div *ngIf="form.get('codigoEspecializacion')?.touched && form.get('codigoEspecializacion')?.invalid" class="text-danger">
        Código es requerido (máx 50).
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Descripción</label>
      <textarea formControlName="descripcion" class="form-control" rows="4"></textarea>
    </div>

    <div class="d-flex gap-2">
      <button type="submit" class="btn btn-success" [disabled]="loading">Guardar</button>
      <button type="button" class="btn btn-secondary" routerLink="/especializaciones">Cancelar</button>
      <div *ngIf="loading" class="align-self-center">
        <div class="spinner-border spinner-border-sm" role="status"></div>
      </div>
    </div>
  </form>
</div>
