<nav class="navbar pcoded-navbar">
  <div class="navbar-wrapper">
    <div class="navbar-content scroll-div">
      <ul class="nav pcoded-inner-navbar">
        <!-- Lado izquierdo -->
        <li class="nav-item">
          <app-nav-left></app-nav-left>
        </li>

        <!-- Espaciador -->
        <li class="nav-item flex-grow-1"></li>

        <!-- Lado derecho -->
        <li class="nav-item">
          <app-nav-right></app-nav-right>
        </li>
      </ul>
    </div>
  </div>
</nav>

